Options -Indexes
AddType application/x-xpinstall .xpi

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^brad\.touesnard\.com$ [NC]
RewriteRule ^(.*)$ http://bradt.ca/$1 [R=301,L]
RewriteRule ^wpmdb-subscribe-form\.php http://deliciousbrains.com/wp-migrate-db-pro/ [R=301,L]
RewriteRule ^p/([0-9]+)/? /?p=$1 [L,R=301]
RewriteRule ^(documents/)?resume/? https://www.linkedin.com/in/bradt [L,R=301]
RewriteRule ^docs/resume.pdf https://www.linkedin.com/in/bradt [L,R=301]
RewriteRule ^(wp/wp-)?content/([A-Za-z0-9_-]+)(\.gif|\.jpg|\.png|\.mp3|\.txt|\.wav) /content/uploads/0000/$2$3 [L,R=301,NC]
RewriteRule ^archives/[0-9]+/[0-9]+/[0-9]+/([0-9]+)/ /?p=$1 [L,R=301]
RewriteRule ^archives/(.*) /blog/$1 [L,R=301]
RewriteRule ^projects/.* /wordpress/ [L,R=301]
RewriteRule ^category/travel/? /journal/ [L,R=301]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
