[submodule "public_html/wp"]
	path = public_html/wp
	url = git://github.com/WordPress/WordPress.git
[submodule "public_html/content/plugins/amazon-s3-and-cloudfront"]
	path = public_html/content/plugins/amazon-s3-and-cloudfront
	url = git@github.com:bradt/wp-tantan-s3.git
[submodule "public_html/content/plugins/wp-migrate-db-pro"]
	path = public_html/content/plugins/wp-migrate-db-pro
	url = git@github.com:wpappstore/wp-migrate-db-pro.git
[submodule "public_html/content/plugins/wp-app-store"]
	path = public_html/content/plugins/wp-app-store
	url = git@github.com:wpappstore/wp-app-store.git
[submodule "public_html/content/plugins/better-wp-varnish"]
	path = public_html/content/plugins/better-wp-varnish
	url = git@github.com:bradt/Better-WP-Varnish.git
[submodule "public_html/content/plugins/amazon-web-services"]
	path = public_html/content/plugins/amazon-web-services
	url = git@github.com:deliciousbrains/wp-amazon-web-services.git
[submodule "public_html/content/plugins/twitter-tools"]
	path = public_html/content/plugins/twitter-tools
	url = git@github.com:bradt/wp-twitter-tools.git
