ul, ul ul {
	list-style-image: url(images/bullet_onwhite.png);
}

#header div.home,
#header div.top,
#main,
#sidebar li.photos ul,
#controls,
#folio div.title,
#folio div.details,
#folio div.details div.roles ul,
#folio ul.screenshots,
.homepage,
.hp-white .latest-post .date,
.hp-white .latest-project .desc,
.hp-green .music .albums li,
.hp-green .photos .falbum-recent li a .desc {
	height: 100%;
	position: relative;
}

#folio ul.projects {
	width: 696px;
}

#footer {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/themes/edgy/images/footer/bar.png', sizingMethod='scale');
}

form.user_form input.button {
	background-image: url(images/submit_onwhite.png);
}

#main div.main-page,
#main div.single {
	margin: 0;
	width: 60%;
}

#main div.blog {
	width: 75%;
}

#content.main-page .post-secondary {
	width: 41%;
}

.homepage .col-left {
	margin-left: 1%;	
	float: left;
}

.homepage .col-right {
	margin-right: 1%;	
	float: right;
}

.hp-white .latest-project .snap {
	left: 0;
}

.hp-white .latest-post .date {
	height: 49px;
}

.hp-white .latest-project .snap img {
	width: 350px;
}

.hp-green .photos .falbum-recent li a .desc {
	display: none;
}

.post pre {
	width: 100%;
	overflow:visible;
	overflow-x:auto;
	overflow-y:hidden;
	padding-bottom: 15px;
}

div.main-page div.secondary {
	font-size: 0.9em;
	width: 41%;
	float: left;
	padding: 1em 3% 0 3%;
	margin: 0 1% 1em 1%;
	background: none;
	background-color: #f7f7f7;
}

div.single h3 {
	clear: both;
}

div.comment p.date {
	clear: both;
}

#livesearch_form label.icon {
	background-image: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/content/themes/edgy/images/search.png', sizingMethod='scale');
}

/* GeSHi (c) Nigel McNie 2004 (http://qbnz.com/highlighter) */
div.geshi { overflow:scroll;overflow-Y:hidden;}