body {
  background: #202124;
  color: #ced0d0;
  font-family: 'Merriweather', serif;
  margin: 30px;
  line-height: 1.4; }
  @media screen and (max-width: 480px) {
    body {
      margin: 20px; } }

figure {
  margin: 0; }

a {
  color: #f09667; }

input[type=search], input[type=submit] {
  padding: .5rem;
  background-color: #2c2e32;
  color: #999;
  border-color: #666; }

input[type=search]:-webkit-autofill,
input[type=search]:-webkit-autofill:hover,
input[type=search]:-webkit-autofill:focus,
input[type=search]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2c2e32 inset !important;
  -webkit-text-fill-color: #999 !important; }

header.site {
  overflow: hidden;
  margin-bottom: 1rem; }
  header.site .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%; }

footer.site {
  font-size: 0.8rem;
  color: #666; }

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto; }

.section-title {
  font-size: 1rem;
  color: #666;
  margin: 0; }

.section-subtitle {
  margin: 0 0 0.5rem 0;
  font-size: 1rem; }

.page-title {
  color: #61b0d7;
  margin: 0 0 0.5rem 0;
  font-size: 2rem; }

.search-form {
  margin-top: 5rem; }

section.post-archive > header {
  margin-bottom: 1rem; }
section.post-archive > article {
  margin-bottom: 1rem; }
  @media screen and (min-width: 480px) {
    section.post-archive > article header {
      display: flex; } }
  section.post-archive > article time {
    margin: 0.3rem 2rem 0 0; }
  section.post-archive > article .entry-title {
    font-size: 1.4rem;
    margin: 0; }
    section.post-archive > article .entry-title a {
      text-decoration: none; }

section.single-post > article > header {
  margin-bottom: 1rem; }
section.single-post > article .entry-title {
  font-size: 2rem;
  margin: 0 0 0.5rem 0; }
  section.single-post > article .entry-title a {
    text-decoration: none; }

body.home header.site .avatar {
  width: 200px;
  height: 200px; }
body.home .bio .entry-content p {
  font-size: 1.4rem;
  margin: 0; }
body.home .site-title {
  color: #61b0d7;
  font-size: 2.4rem;
  margin: 0; }

.entry-meta {
  color: #888;
  font-style: italic; }
  .entry-meta a {
    color: #bb744f; }

.entry-content,
.comment-content {
  font-size: 1.125rem;
  line-height: 1.6; }

.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul,
.mu_register ul {
  margin: 0 0 1rem 0;
  padding: 0 0 0 1rem; }

.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
  margin-bottom: 0; }

.entry-content ul,
.comment-content ul,
.mu_register ul {
  list-style: disc outside; }

.entry-content ol,
.comment-content ol {
  list-style: decimal outside; }

.entry-content li,
.comment-content li,
.mu_register li {
  margin: 0 0 0.5rem 1rem; }
  @media screen and (min-width: 480px) {
    .entry-content li,
    .comment-content li,
    .mu_register li {
      margin: 0 0 0.5rem 1.4rem; } }

.entry-content blockquote,
.comment-content blockquote {
  margin: 0 0 24px 0;
  margin: 0 0 1.714285714rem 0;
  padding: 10px 0 15px 30px;
  padding: 0.625rem 0 0.9375rem 1.875rem;
  font-style: italic;
  border-left: 5px solid #000; }

.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
  margin-bottom: 0; }

.entry-content code,
.comment-content code {
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 2;
  background-color: #2c2e32;
  padding: 0.2rem 0.5rem;
  border-radius: 0.1rem;
  white-space: nowrap; }

.entry-content pre,
.comment-content pre {
  background-color: #2c2e32;
  color: #aaa;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 1.714285714;
  margin: 24px 0;
  margin: 1.714285714rem 0;
  overflow: auto;
  padding: 1rem; }

.entry-content pre code,
.comment-content pre code {
  display: block; }

.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

.entry-content address,
.comment-content address {
  display: block;
  line-height: 1.714285714;
  margin: 0 0 24px;
  margin: 0 0 1.714285714rem; }

.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
  display: block; }

.entry-content .twitter-tweet-rendered {
  width: 100% !important; }

.entry-content dt,
.comment-content dt {
  font-weight: bold;
  line-height: 1.714285714; }

.entry-content dd,
.comment-content dd {
  line-height: 1.714285714;
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem; }

.entry-content table,
.comment-content table {
  border-bottom: 1px solid #666;
  font-size: 1rem;
  margin: 0 0 1.714285714rem;
  width: 100%;
  border-spacing: 0; }

.entry-content table caption,
.comment-content table caption {
  font-size: 16px;
  font-size: 1.142857143rem;
  margin: 24px 0;
  margin: 1.714285714rem 0; }

.entry-content td,
.comment-content td {
  border-top: 1px solid #666;
  padding: 1rem 10px 1rem 0; }

.entry-content img,
.comment-content img,
.entry-content iframe,
.comment-content iframe {
  max-width: 100%;
  min-width: auto;
  height: auto; }

/*# sourceMappingURL=style.css.map */
