@import "sassy-buttons";
@import "compass";

$Arial: Arial, Helvetica, sans-serif;
$SourceSansPro: "Source Sans Pro", $Arial;
$Lora: Lora, $Arial;

@mixin image-2x($image_name, $image_ext:"png") {
	$image: $image_name + '.' + $image_ext;
	$image2x: $image_name + '@2x.' + $image_ext;

	background-image: url($image);
	@media (min--moz-device-pixel-ratio: 1.3),
				 (-o-min-device-pixel-ratio: 2.6/2),
				 (-webkit-min-device-pixel-ratio: 1.3),
				 (min-device-pixel-ratio: 1.3),
				 (min-resolution: 1.3dppx) {
		background-image: url($image2x);
		background-size: image-width($image) image-height($image); 
	}
}

/* Reset some styles */
ol, ul { list-style-type: none; }
a img { border: 0; }
dd, p, h1, h2, h3, h4, h5, h6 { margin: 0; }
ol, ul, fieldset { border: 0; padding: 0; margin: 0; }
figure, figcaption, hgroup, header, nav, section, footer, article, aside { display: block; padding: 0; margin: 0; }
address { font-style: normal; }

* { 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}

body {
	@include image-2x("../img/dark_wood");
	margin: 0;
	padding: 0;
	font-family: $SourceSansPro;
	min-width: 640px;
	font-size: 21px;
}

a {
	color: #B51933;
	text-decoration: none;

	&:hover {
		color: lighten(#B51933,10%);
	}
}

pre {
	font-size: 16px;
}

.cols {
	overflow: hidden;
}

input[type=email], input[type=text], input[type=password] {
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 0.5em 0.8em;
	font-size: 16px;
}

@mixin placeholder() {
	font-style: italic;
}

::-webkit-input-placeholder {
   @include placeholder;
}

:-moz-placeholder { /* Firefox 18- */
   @include placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
   @include placeholder;
}

:-ms-input-placeholder {  
   @include placeholder;
}

.container {
	overflow: hidden;
}

.content {
	width: 100%;
	margin: 0 auto;
	max-width: 1070px;
	background-color: #fafafa;
	position: relative;
	padding: 60px;
}

.content:after {
	content: "";
	position: absolute;
	background: #fafafa;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 9999px;
}

header.site {
	width: 100%;
	margin: 50px auto;
	max-width: 1070px;
	color: #fff;
	overflow: hidden;
	position: relative;

	a {
		color: #ccc;
		white-space: nowrap;
		transition: color 0.2s ease-in;
		-webkit-transition: color 0.2s ease-in;
		-moz-transition: color 0.2s ease-in;

		&:hover {
			color: #ffffdf;
		}
	}

	.avatar {
		position: absolute;
		left: 0;
		top: 0;
		width: 100px;
		height: 100px;
		display: block;

		img {
			border-radius: 50%;
			width: 100%;
			height: auto;
		}
	}

	.col-2 {
		padding-left: 130px;
	}

	.bio {
		font-weight: 200;
		font-size: 30px;
		max-width: 600px;
		line-height: 1.2em;
	}

	nav.site {
		padding-top: 10px;
		float: left;

		li {
			display: inline;
			font-size: 24px;
			margin-right: 24px;
			font-weight: 200;
			list-style-type: none;
		}

		.active {
			color: #ffffdf;
		}

		@media screen and (max-width: 880px) {
			float: none;
		}
	}

	nav.social {
		padding-top: 10px;
		float: right;

		li {
			list-style-type: none;
			display: inline;
			font-size: 35px;
			line-height: 35px;
		}

		@media screen and (max-width: 880px) {
			float: none;
			padding-top: 15px;
		}
	}

	@media screen and (max-width: 1200px) {
		padding: 0 50px;

		.avatar {
			left: 50px;
		}
	}

	@media screen and (max-width: 640px) {
		.avatar {
			position: relative;
			left: auto;
			top: auto;
			margin: 0 auto 30px auto;
			width: 150px;
			height: 150px;
		}

		.col-2 {
			padding: 0;
			text-align: center;
		}

		nav.site {
			float: none;
			padding-top: 30px;

			li {
				font-size: 35px;
			}
		}

		nav.social {
			float: none;
			padding-top: 35px;

			li {
				font-size: 70px;
				line-height: 70px;
				margin-right: 15px;
			}
		}
	}
}

footer.site {
	height: 300px;
	background: no-repeat top right;
	@include image-2x("../img/footer-speaker");
	width: 100%;
	margin: 50px auto 0 auto;
	max-width: 1070px;
	color: #fff;
	overflow: hidden;
	position: relative;

	h1 {
		a {
			display: block;
			text-indent: -5000px;
			overflow: hidden;
			width: 281px;
			height: 51px;
			@include image-2x("../img/title");
			margin-bottom: 15px;
		}
	}

	a {
		color: #ccc;
		white-space: nowrap;
		transition: color 0.2s ease-in;
		-webkit-transition: color 0.2s ease-in;
		-moz-transition: color 0.2s ease-in;

		&:hover {
			color: #ffffdf;
		}
	}

	.nav-meta {
		position: absolute;
		left: 0;
		bottom: 20px;

		nav.site {
			margin-bottom: 10px;

			li {
				display: inline;
				font-size: 24px;
				margin-right: 24px;
				font-weight: 200;
				list-style-type: none;
			}

			.active {
				color: #ffffdf;
			}
		}

		.copyright {
			font-size: 16px;
			color: #666;
		}
	}

	@media screen and (max-width: 1200px) {
		.nav-meta {
			bottom: auto;
			top: 0;
			padding-left: 50px;
		}

		background-size: 290px 200px;
		height: 200px;
	}
}


/* Social Icons */

@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot');
	src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../font/icomoon.woff') format('woff'),
		url('../font/icomoon.ttf') format('truetype'),
		url('../font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-wordpress, .icon-email, .icon-twitter, .icon-gplus, .icon-github {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-wordpress:before {
	content: "\24";
}
.icon-email:before {
	content: "\25";
}
.icon-twitter:before {
	content: "\26";
}
.icon-gplus:before {
	content: "\27";
}
.icon-github:before {
	content: "\28";
}

section.single-post {

	> header {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;

		h1 {
			color: #eee;
			font-weight: 800;
			font-size: 100px;
			margin-top: -40px;
		}
	}

	> article {
		width: 72%;
		font-family: $Lora;
		position: relative;

		p {
			line-height: 1.7em;
		}

		@media screen and (max-width: 880px) {
			width: auto;
		}

		dd, p {
			margin-bottom: 1.2em;
		}

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 1em;
		}

		.meta-sep {
			margin: 0 8px;
		}

		> header h1 {
			font-size: 40px;
			margin-bottom: 10px;
			margin-top: -15px;
		}

		.entry-meta {
			margin-bottom: 30px;
			color: #999;
			font-size: 18px;

			a {
				color: #999;

				&:hover {
					color: #666;
				}
			}
		}

		.related {
			li {
				line-height: 1.4em;
				margin-bottom: 15px;
			}
		}

		.subscribe {
			clear: both;
			margin: 50px 0 80px 0;
			padding: 50px 40px 30px 40px;
			box-shadow: 0 0 10px #ccc;
			position: relative;
			overflow: hidden;

			h1 {
				font-family: $SourceSansPro;
				font-size: 35px;
				font-weight: 800;
				margin-bottom: 30px;
			}

			.striping {
				font-weight: bold;
				font-family: Arial;
				font-size: 180px;
				position: absolute;
				top: -150px;
				left: 0;

				> * {
					margin-left:-8px;
				}

				b {
					color: #f5290a;
					font-style: italic;
				}

				i {
					color: #006699;
				}
			}

			.field {
				overflow: hidden;
				margin-bottom: 10px;
			}

			.field.email {
				margin-bottom: 30px;
			}

			label {
				display: block;
				width: 140px;
				float: left;
				font-size: 21px;
				line-height: 44px;
				color: #666;
				font-family: $SourceSansPro;
			}

			button {
				@include sassy-button("simple", 5px, 16px, lighten(#006699,10%));
			}

			input {
				float: left;
				width: 300px;
			}

			.rss {
				max-height: 1em; /* Stop auto text sizing on mobile */
				font-size: 14px;
				margin: 20px 0 0 0;
			}
		}
	}
}

#disqus_thread {
	width: 72%;
	margin-bottom:-30px;

	@media screen and (max-width: 880px) {
		width: auto;
	}
}

.entry-content {
	img {
		float: right;
		margin: 0 -42% 30px 25px;
		max-width: 70%;
		min-width: 70%;
		height: auto;
		clear: right;
	}

	img.wp-smiley {
		float: none;
		margin: 0;
		max-width: 100%;
		min-width: auto;
	}

	@media screen and (max-width: 880px) {
		img {
			float: none;
			margin: 0;
			max-width: 100%;
			min-width: auto;
		}
	}
}

/* Borrowed from Twenty Twelve theme */
/* Images */
.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul,
.mu_register ul {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
	margin-bottom: 0;
}
.entry-content ul,
.comment-content ul,
.mu_register ul {
	list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
	list-style: decimal outside;
}
.entry-content li,
.comment-content li,
.mu_register li {
	margin: 0 0 0 36px;
	margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote,
.comment-content blockquote {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	padding: 24px;
	padding: 1.714285714rem;
	font-style: italic;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;
}
.entry-content code,
.comment-content code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
}
.entry-content pre,
.comment-content pre {
	border: 1px solid #ddd;
	color: #666;
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	overflow: auto;
	padding: 24px;
	padding: 1.714285714rem;
}
.entry-content pre code,
.comment-content pre code {
	display: block;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.entry-content address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}
.entry-content table caption,
.comment-content table caption {
	font-size: 16px;
	font-size: 1.142857143rem;
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}


.post-archive {
	width: 78%;

	@media screen and (max-width: 880px) {
		width: auto;
	}

	> header {
		margin: -20px 0 50px 0;
		overflow: hidden;
		min-height: 80px;

		h1 {
			font-size: 60px;
			line-height: 1.2em;
			float: left;
			font-weight: 800;
		}

		h2 {
			font-size: 21px;
			color: #999;
			float: left;
			margin-left: 60px;
			font-weight: 400;
			line-height: 80px;
		}
	}

	> article {
		margin-bottom: 50px;

		> header {
			margin-bottom: 10px;
		}
	}

	.entry-title {
		font-size: 30px;
		font-family: $Lora;
		display: inline;
	}

	.entry-summary {
		font-family: $Lora;

		p {
			line-height: 1.7em;
		}
	}

	time {
		color: #666;
		font-size: 18px;
		margin-left: 10px;
	}

	.paging {
		overflow: hidden;
		margin-bottom: 80px;
		font-weight: 800;
		font-size: 30px;
		text-transform: uppercase;

		.older {
			float: left;
		}

		.newer {
			float: right;
		}
	}

	.tag-cloud {
		margin-bottom: 30px;

		h1 {
			color: #666;
		}

		a {
			margin-right: 20px;
			text-transform: lowercase;
			white-space: nowrap;
		}
	}

	.yearly-archive {
		overflow: hidden;

		h1 {
			margin-bottom: 10px;
			color: #666;
		}

		li {
			width: 160px;
			float: left;
			color: #999;
			font-size: 26px;
		}

		a {
			
		}
	}
}